.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.right-0 {
  right: 0px
}

.top-0 {
  top: 0px
}

.top-10 {
  top: 2.5rem
}

.top-20 {
  top: 5rem
}

.ml-20 {
  margin-left: 5rem
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-64 {
  height: 16rem
}

.h-16 {
  height: 4rem
}

.h-6 {
  height: 1.5rem
}

.h-32 {
  height: 8rem
}

.h-0 {
  height: 0px
}

.h-10 {
  height: 2.5rem
}

.w-full {
  width: 100%
}

.w-1\/2 {
  width: 50%
}

.w-16 {
  width: 4rem
}

.w-32 {
  width: 8rem
}

.flex-row {
  flex-direction: row
}

.border {
  border-width: 1px
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.px-40 {
  padding-left: 10rem;
  padding-right: 10rem
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.pb-0 {
  padding-bottom: 0px
}

.pt-5 {
  padding-top: 1.25rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}
